FROM <%= @parameters.image %>

RUN apt-get -y update
RUN apt-get -y upgrade
<%- packages = @parameters.packages -%>
<%- if !packages.nil? && !packages.empty? -%>
RUN apt-get -y install <%= packages.join(" ") %>
<%- end -%>

WORKDIR /root/<%= @parameters.container %>
