FROM <%= @parameters.image %>

RUN apt-get -y update
RUN apt-get -y upgrade
<%- unless @parameters.packages.empty? -%>
RUN apt-get -y install <%= @parameters.packages.join(" ") %>
<%- end -%>

WORKDIR /root/<%= @parameters.container %>
